:root{

/* dark pack */
--dark_1: #404258;
--dark_2: #474E68;
--dark_3: #50577A;
--dark_3: #6B728E;



--background: #121212;
--background_grad: ;


--white: white;
--bg-gray: rgb(209, 210, 210);
--black: black;
}

html {
    height: 100%;
}
  
body {
    margin: 0;
    padding: 0;
}

h3{
    padding-left: 17px;
    padding-right: 17px;
}

img{
    width: 100px;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (max-width: 600px) {
.title-generic{
    color: var(--white);
    width: unset;
    display: flex;
    justify-content: center;
    background: var(--generic);
}

.title-view{
    color: var(--white);
    width: unset;
    /* border-bottom-right-radius: 83px;
    border-top-right-radius: 83px; */
    border-bottom: 2px solid var(--black);
    display: flex;
    justify-content: center;
}

.raw{
    background: var(--raw);
}

.sd{
    background: var(--sd);
}

.nxt{
    background: var(--nxt);
}

.all{
    background: var(--all);
}

}