@import url("base_styles.css");

.mega-container{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: var(--white);
}

.super-container {
    margin-top: 130px;
}

.super-container {
    margin-top: 10px;
}

.container{
    background: var(--white);
    width: 1582px;
    display: flex;
    justify-content: center;       
}

.item{
    background: var(--bg-gray);
    width: 1014px;
    border: 2px solid var(--black);
    margin-top: 8px;
    margin-left: 13px;
    margin-right: 14px;
}

.mega-title{
    background-color: var(--black);
}

.cont{
    background: var(--bg-gray);
    display: flex;
    justify-content: center;
    width: 65%;
    margin-top: 21px;
    margin-left: 18%;
}

.btn{
    width: 130px;
    height: 135px;
    margin: auto;
}

.play{
    width: 570px;
    height: 46px;
    margin: auto;
    margin-bottom: 20px; 
}

.conto{
    background: var(--bg-gray);
    display: flex;
    justify-content: center;
    width: 65%;
    margin-left: 18%;
}

.linkimg{
    text-decoration: none;
    width: 117px;
    margin-left: 19px;
}

.linkimg:hover{
    height: 113px;
    width: 113px;
}

.img_div{
    background-color: azure;
    width: 130px;
    height: 135px;
    margin: auto;
    display: flex;
    align-items: center;
}

.img_divvs{
    width: 130px;
    height: 135px;
    margin: auto;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 56px;
}